/** GENERIC **/

body {
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    color: #444;
    background-color: white;
}

.login-background {
    background: linear-gradient(to top right, #E61E78, #2D7EDC);
}

/** CARDS **/

.card {
    border: none;
    padding: 24px;
    border-radius: 0;
    box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.25);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

a:hover {
    text-decoration: none
}

.login-card {
    margin: 28px;
    width: 350px;
    background: white;
    color: black;
}

.login-card .card-title {
    font-weight: bold;
}

/** CUSTOM INPUT **/

.form-control {
    border: none;
    border-radius: 0;
    background-color: #EFEFEF;
    padding: .375rem .75rem !important;
}

input {
    height: 50px;
}

/** CUSTOM BUTTON **/

.btn {
    padding: 14px 24px;
    border: 0 none;
    border-radius: 0;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    height: 50px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

/** LOGIN **/

#registerHelper {
    margin-top: 16px;
}

.card-title {
    text-align: center;
    margin-bottom: 24px;
}

/** NAVBAR **/

.ui-menu .ui-menuitem-text {
    color: #444;
}
.ui-menu.ui-megamenu .ui-menu-parent .ui-menu-child {
    background-color: #FFFFFF;
    margin-top: 14px;
}
.ui-menubar .ui-widget-header {
    display: none;
}
.ui-menubar .ui-menu-child .ui-menuitem:hover {
    background-color: #E1E6EA;
}

/** HEADER **/

.header {
    padding: 28px;
    border-bottom: 2px solid #e5e5e5;
}

.header h1 {
    font-size: 35px;
}

.header h5 {
    padding-left: 2px;
}

.content-container {
    padding: 28px;
}

/** TABLE FIXES **/
.table th {
    padding: .75rem !important;

}
.ui-datatable tbody.ui-datatable-data tr:hover {
    background-color: #F0F2F4;

}
.actionlink {
    width: 100%;
}

/** UTILS **/

.vertical-center {
    min-height: 100%; /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

/** Dialogs **/
.ui-dialog {
    background-color: #FFFFFF;
}
.ui-dialog .ui-dialog-buttonpane button {
    border: 0px;
    background-color: #F8F9FA;
}
.ui-dialog .ui-dialog-buttonpane button:hover {
    background-color: #E1E6EA;
}
.ui-shadow {
    background-color: #FFFFFF;
}

/** Dropdownlist **/
.ui-selectonemenu-panel {
    background-color: #FFFFFF;
}
.ui-selectonemenu-panel .ui-selectonemenu-list-item:hover {
    background-color: #E1E6EA;
}